node_modules
**/node_modules
dist
**/dist
.git
.gitignore
.env
.env.*
!.env.example
server/.data
test-results
playwright-report
*.log
docs
specs
speckit
.agents
secrets

test-results-*
tests
server/tests
design-system
Ảnh
*.docx
plan*.md
admin_features.md
